
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
:root{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}
*{
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
body{
    width: 100%;
    height: 100%;
    font-size: 18px;
    
    font-family: "Barlow", sans-serif;
}
.hidden{
    display: none;
}
.top{
    background-image:url(images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    color: var(--White);
    text-align: center;
    height: 100vh;
}
.two,.three,.four{
    display: flex;
}
.two-first,.three-first{
    background-color: var(--White);
    justify-content: center;
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first,.second{
    justify-content: center;
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.first{
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    height: 100vh;
    text-align: center;
}
.second{
    background-image: url(images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    height: 100vh;
    text-align: center;
}
.first div, .second div{
    margin-top: 400px;
}
.first h2,.first p{
    color: var(--Dark-desaturated-cyan);
}
.second h2, .second p{
    color:var(--Dark-blue);
}
.first p , .second p{
    width: 20vw;
    margin: auto;
    margin-top: 50px;
    line-height: 25px;
}
.two img, .three img{
    width: 50vw;
}
.content{
    display: grid;
    gap: 40px;
    color: var(--Very-dark-grayish-blue);
}
.content p {
    width: 24vw;
    line-height: 30px;
}
.content span{
    width: 150px;
    text-align: center;
    color: var(--Very-dark-desaturated-blue);
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 3px;

}
#learn1{
    border-bottom: 6px solid hsla(51, 100%, 49%, 0.5);
    border-radius: 20px;
}
#learn2{
    border-bottom: 6px solid hsla(7, 99%, 70%, 0.5);
    border-radius: 10px;
}
#learn1:hover{
    border-bottom: 6px solid var(--Yellow);
    cursor: pointer;
}
#learn2:hover{
    border-bottom: 6px solid var(--Soft-red);
    cursor: pointer;
}
h1{
    font-size: 70px;
    margin-top: 100px;
    font-family: "Fraunces", serif;
    font-weight: 900;
    letter-spacing: 15px;
}
h2{
    font-family: "Fraunces", serif;
    font-weight: 900;
    width: 30vw;
    color: var(--Very-dark-desaturated-blue);
    font-size: 3vw;
}
h3{
    font-family: "Fraunces", serif;
    font-weight: 900;
    color: var(--Very-dark-desaturated-blue);
}
#arrow{
    margin-top:8vh;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}
ul{
    list-style-type: none;
    text-decoration: none;
    display:flex;
    gap: 50px;
}
#contact{
    color:var(--Very-dark-desaturated-blue);
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 40px;
    margin-top: -10px;
    font-family: "Fraunces", serif;
    font-weight: 700;
}
#contact:hover{
    background-color:hsl(200, 97%, 73%) ;
    cursor: pointer;
    color: var(--White);
}
.images{
    display:flex;
}
.images img{
    width: 25%;
}
.testimonials{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 100px;
    padding-bottom: 150px;
}
.texts{
    display: flex;
    margin-top: 100px;
    gap: 40px;
}
.texts img{
    width: 70px;
    border-radius: 50%;
    margin: auto;
}
.texts .person{
    align-items: center;
    justify-content: center;
    display: grid;
    text-align: center;
    gap: 50px;
}
.info{
    display: grid;
    gap: 5px;
}
.info span{
    color:hsla(210, 9%, 39%, 0.5) ;
}
.texts p{

    color:var(--Very-dark-grayish-blue) ;
    line-height: 30px;
}
h4{
    color:hsla(210, 9%, 39%, 0.5);
    font-family: "Fraunces", serif;
    font-weight: 900;
    letter-spacing: 3px;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.testimonials{
    display: grid;
}
footer{
    background-color:hsl(167, 48%, 67%);
    align-items: center;
    display: grid;
    justify-content: center;
    text-align: center;
    color: var(--Dark-desaturated-cyan);
    padding: 50px;
    padding-bottom: 10px;
    
}
footer ul{
    margin-top: 100px;
}
footer ul li:hover{
    cursor: pointer;
    color: var(--White);
}
footer #socials svg{
    fill:#2C7566
}
footer #socials svg:hover{
    fill: #ffffff;
    cursor: pointer;
    
}
footer div{
    align-items: center;
}
#socials{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
#drop{
    display: none;
}
#drop:hover{
    cursor: pointer;
}

.inner-contact{
    z-index: 2;
    margin: auto;
    left: 5%;
    right: 50%;
    position: absolute;
}
.inner-contact ul{
    display: none;
    
}
.show{
    display: none !important;
}
.content{
    padding-top: 50px;
    padding-bottom: 50px;
}
.images2{
    display: none;
}
@media (max-width:750px){
    .inner-contact ul{
        display: grid;
        
    }
    .images{
        display: none;
    }
    .images2{
        display: grid;
    }
    .images-one,.images-two{
        display: flex;
        flex-direction: row;
    }
    .images-one img,.images-two img{
        width: 50%;
    }

    .hide{
        display: none;
    }
    body{
        width: 100%;

    }
    .header{
        padding-left: 20px;
        padding-right: 20px;
    }
    .inner-contact{
        width: 90%;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
        background-color: white;
        color: var(--Very-dark-grayish-blue);
    }
    #contact2{
        color:var(--Very-dark-desaturated-blue);
        background-color: var(--Yellow);
        width: 100px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 40px;
        margin-top: -10px;
        font-family: "Fraunces", serif;
        font-weight: 700;
    }
    #contact-inner:hover{
        background-color:hsl(200, 97%, 73%) ;
        cursor: pointer;
        color: var(--White);
    }
    #drop{
        display: block;
    }
    .top{
        background-image: url(images/mobile/image-header.jpg);
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center;

    }
    .content{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    img{
        width: 100%;
    }
    .two{
        flex-direction: column-reverse;
        width: 100%;
    }
    .hidden{
        display: block;
        width: 100%;
    }
    .two img,.three img{
        width: 100%;
    }
    .two-first,.three-first{
        background-color: var(--White);
        justify-content: center;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .three{
        flex-direction: column;
    }
   .content p {
        width: 70%;
        text-align: center;
        margin: auto;
   }
    h2{
        width: 80%;
        font-size: 9vw;
        text-align: center;
        margin: auto;
    }
    #learn1,#learn2{
        margin: auto;
    }
    h1{
        font-size: 9vw;
        text-align: center;
        margin: auto;
    }
    .four{
        flex-direction: column;
    }
    .four div{
        width: 100%;
    }
    .four .one{
        background-image: url(images/mobile/image-graphic-design.jpg);
    
    }
    #arrow{
        margin-top:30vh;
    }
    .four .two{
        background-image: url(images/mobile/image-photography.jpg);
    }
    .four p{
        width: 80%;
    }
    .four h2{
        margin: auto;
    }
    .texts{
        display: grid;
        text-align: center;
        gap: 200px;  
    }
    h4{
        margin: auto;
        font-size: 90%;
    }
    .text p{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .text div{
        text-align: center;
    }
    .header ul{
        display: none;
    }
    h1{
        margin-top: 40px;
    }
}